form {
    border: 1px solid #82a2be; 
    width: 500px; 
    margin: 0 auto;
    padding: 20px 10px;
}

.input-field-div {
    margin: 10px auto;
    width: 410px;
    display: flex;
    flex-direction: row;
}

.label-div {
	text-align: center;
    color: white;
    width: 100px;
    border: 1px solid blue;
    background-color: #5b9bd5;
    padding: 5px;
    margin-right: 20px;
}

.submit-div {
    text-align: center;
    margin-top: 20px;
}

.gender-div, .gender-div > div {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

input[type="text"] {
    width: 280px;
    border: 1px solid blue;
}

select {
	border: 1px solid blue;
}

input[type="submit"] {
    color: white;
    padding: 10px 25px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: #70ad47;
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -5px;
	left: -1px;
	position: relative;
	background-color: #5b9bd5;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 1px solid blue;
    }

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -5px;
	left: -1px;
	position: relative;
	background-color: #ffa500;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 1px solid blue;
}